
$screen-width: 320px;

body
{
	font-family: Helvetica, sans-serif;
	// width: $screen-width;
	padding: 0;
	margin: 0;
}

*
{
	box-sizing: border-box;
}

div.cb
{
	float: none !important;
	clear: both !important;
}



form.journal-entry
{
	padding: 0px 10px;

	input[type=text], textarea, input[type=submit], button
	{
		width: 100%;
	}

	textarea
	{
		height: 200px;
		font-family: Georgia, serif;
		font-size: 18px;
	}

	input[type=text], input[type=submit]
	{
		padding: 10px 20px;
	}
}


div.notify
{
	background-color: #8FCAF0;
	border: 2px solid #0E7EC5;
	padding: 15px 20px;
	margin: 15px 15px;

	&.error
	{
		background-color: #F0CA8F;
		border-color: #C57E0E;
	}
	a.close
	{
		float: right;
		margin-right: 10px;
		font-size: 16px;
		color: #687984;
	}
}



div.BWVlist
{
	$bwv-border-size: 1px;
	$bwv-font-size: 16px;
	$bwv-margin: 2px;
	$bwv-width: 80px;
	$bwv-height: 60px;

	font-family: Georgia, serif;

	.BWV
	{
		font-size: $bwv-font-size;
		line-height: $bwv-height - $bwv-margin - $bwv-border-size*2;
		text-align: center;

		box-sizing: border-box;
		border: $bwv-border-size solid #888888;
		background-color: #d8d8d8;

		float: left;
		height: $bwv-height - $bwv-margin;
		width: $bwv-width - $bwv-margin;
		margin: $bwv-margin / 2;

		&.done
		{
			background-color: #B3D580;
			border-color: darken(#B3D580, 20%);
		}
		&.open
		{
			background-color: #E69999;
			border-color: darken(#E69999, 20%);
		}
	}

	.Verzeichnis
	{
		float: none;
		clear: both;

		box-sizing: border-box;
		// width: 100%;
		min-height: $bwv-height - $bwv-margin;
		margin: $bwv-margin / 2;

		color: #333333;
		background-color: #dddddd;
		border: $bwv-border-size solid darken(#dddddd, 20%);

		font-size: $bwv-font-size;
		line-height: 1.25;
		padding: ($bwv-height - (1.25 * $bwv-font-size)) / 2
			$bwv-width * 0.2;
	}
}




