
$app-width: 998px;

body
{
	font-family: Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

*
{
	box-sizing: border-box;
}

div.cb
{
	float: none !important;
	clear: both !important;
}



main
{
	$gutter: 10px;
	margin: 0px $gutter;

	@media (min-width: $app-width) {
		width: $app-width - 2*$gutter;
		margin: 0 auto;
	}
}

.journal-entry
{
	input[type=text], textarea, input[type=submit], button {
		width: 100%;
		&:focus-visible {
			outline: none;
		}
	}

	input[type=text], select {
		font-size: 16px;
	}

	.auto-grow-textarea {
		min-height: 200px;
	}
	textarea, .auto-grow-textarea::after {
		font-size: 18px;
		font-family: Georgia, serif;
		word-break: break-word;
		padding: 2px;
	}
	input[type=text], textarea, .auto-grow-textarea::after {
		border: 1px solid #ccc;
	}
	.auto-grow-textarea::after {
		padding-bottom: 120px;
	}

	input[type=text], input[type=submit] {
		padding: 10px 20px;
	}
}

.auto-grow-textarea {
	display: grid;

	&::after {
		box-sizing: border-box;
		content: attr(data-replicated-value) " ";
		white-space: pre-wrap;
		visibility: hidden;
		border: 1px solid black;
	}
	> textarea {
		overflow: hidden;
		resize: none;
	}
	&::after, > textarea {
		grid-area: 1/1/2/2;
	}
}

.indicator-tray {
	font-size: 85%;
	color: #888;

	display: flex;
	justify-content: space-between;
}

.tiepicker {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

	img {
		width: 48px;
	}
	a.today img {
		width: 64px;
	}
	a.yesterday img {
		width: 32px;
	}
}


div.notify {
	$gutter: 15px;

	background-color: #8FCAF0;
	border: 2px solid #0E7EC5;
	padding: 15px 20px;
	margin: 15px $gutter;

	@media (min-width: $app-width) {
		width: $app-width - 2*$gutter;
		margin: 15px auto;
	}

	&.error {
		background-color: #F0CA8F;
		border-color: #C57E0E;
	}
	a.close {
		float: right;
		margin-right: 10px;
		font-size: 16px;
		color: #687984;
	}
}



div.BWVlist {
	$bwv-border-size: 0.0625rem;
	$bwv-font-size: 1rem;
	$bwv-margin: 0.125rem;
	$bwv-width: 5rem;
	$bwv-height: 3.75rem;

	font-family: Georgia, serif;
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax($bwv-width,1fr));
	grid-gap: $bwv-margin;

	margin-bottom: 1rem;

	.BWV {
		box-sizing: border-box;
		border: $bwv-border-size solid #888888;
		background-color: #d8d8d8;

		min-height: $bwv-height - $bwv-margin;
		//min-width: $bwv-width - $bwv-margin;

		&.done {
			background-color: #B3D580;
			border-color: darken(#B3D580, 20%);
		}
		&.open {
			background-color: #E69999;
			border-color: darken(#E69999, 20%);
		}

		.BWVNo {
			font-size: $bwv-font-size;
			line-height: $bwv-height - $bwv-margin - $bwv-border-size*2;
			text-align: center;
		}
		.info {
			display: none;

			padding: 0 0.5rem 0.5rem 0.5rem;

			h4 {
				margin: 0.5 * ( $bwv-height - $bwv-font-size ) 0;
			}
			ul {
				margin: 1rem 0;
			}
		}
		&.active {
			grid-column: 1 / -1;

			.info {
				display: block;
			}
			.BWVNo {
				display: none;
			}
		}
	}

	.Verzeichnis {
		float: none;
		clear: both;
		grid-column: 1 / -1;

		box-sizing: border-box;
		// width: 100%;
		min-height: $bwv-height - $bwv-margin;
		margin: $bwv-margin / 2;

		color: #333333;
		background-color: #dddddd;
		border: $bwv-border-size solid darken(#dddddd, 20%);

		font-size: $bwv-font-size;
		line-height: 1.25;
		padding: ($bwv-height - (1.25 * $bwv-font-size)) / 2
			$bwv-width * 0.2;
	}
}




